[submodule "third_party/litex"]
	path = third_party/litex
	url = https://github.com/enjoy-digital/litex.git
[submodule "third_party/migen"]
	path = third_party/migen
	url = https://github.com/m-labs/migen.git
[submodule "third_party/litex-boards"]
	path = third_party/litex-boards
	url = https://github.com/litex-hub/litex-boards.git
[submodule "third_party/pythondata-cpu-vexriscv"]
	path = third_party/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv.git
[submodule "third_party/pythondata-software-picolibc"]
	path = third_party/pythondata-software-picolibc
	url = https://github.com/litex-hub/pythondata-software-picolibc.git
[submodule "third_party/pythondata-software-compiler_rt"]
	path = third_party/pythondata-software-compiler_rt
	url = https://github.com/litex-hub/pythondata-software-compiler_rt.git
[submodule "third_party/pythondata-cpu-cv32e41p"]
	path = third_party/pythondata-cpu-cv32e41p
	url = https://github.com/litex-hub/pythondata-cpu-cv32e41p.git
[submodule "third_party/litedram"]
	path = third_party/litedram
	url = https://github.com/enjoy-digital/litedram.git
